#intro{
    min-height:0vh;
    background-image:url(../images/main.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#introCaption{
    position: relative;
    top:0vh;
    justify-content: center;
    text-align:center;
}
#introDesc{
    margin:auto;
    position: relative;
    bottom:10vh;
    justify-content: center;
    display:block;
    text-align:center;
    width:500px;
}

#menu{
    min-height:60vh;
    background-image:url(../images/Menu.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#catering{
    min-height:60vh;
    background-image:url(../images/cater.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
#about{
    min-height:20vh;
    justify-content:center;
}
.aboutDesc{
    justify-self:center;
    width:50%;
    margin:auto;
}

.profPic{
    justify-content:center;
    text-align:center;

}
.profile{
    display : flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
img {
    object-fit: cover;
    border-radius: 80%;
    width: 400px;
    height:400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  }

.sectiondiv {
    text-align: center;
}