#intro{
    min-height:0vh;
    background-image:url(../images/main.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#introCaption{
    position: relative;
    top:0vh;
    justify-content: center;
    text-align:center;
}
#introDesc{
    position: relative;
    bottom:10vh;
    justify-content: center;
    display:block;
    text-align:center;
    width:500px;
}

#menu{
    min-height:60vh;
    background-image:url(../images/Menu.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#catering{
    min-height:60vh;
    background-image:url(../images/cater.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
#about{
    min-height:50vh;
}
#about{
    min-height:50vh;
}
.profile{
display : flex;
}
img {
    border-radius: 80%;
    width: 50%;

  }
