html, body {
    margin: 0;
    padding: 0;
  }  
  
nav{
    background-color:  #c5b398;
    width: 100%;
    margin : 0px;
    box-sizing: border-box;
}
.logo {
    float:left;
}
.center {
list-style-type: none;
  margin: 0;
  padding: 10px,10px;
  overflow: hidden;

}
.center li {
    float: right;
}
.center li a {
    display: block;
    color: #f4f4dc;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
  }
  

