html, body {
    margin: 0;
    padding: 0;
  }  
body{
  background-color:#c5beb4;
}
nav{
    background-color:  #976114;
    width: 100%;
    height: 70px;
    margin : 0px;
    box-sizing: border-box;
    top:0;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 1;
  
}
.catchphrase{
  margin-top:100px;
}
.logo {
    float:left;
}
.intro a{
  text-decoration: none;

}
.center {
list-style-type: none;
  margin: 0;
  padding: 10px,10px;
  overflow: hidden;

}
.center li {
    float: right;
    position: relative;
    top: -7vh;
}

.center li a {
    display: block;
    color: #f4f4dc;
    text-align: center;
    font-size: 155%;
    font-family: 'Cherry Cream Soda', cursive;
    padding: 10px 30px;
    text-decoration: none;
  }
  
h2{ 
    font-size:225;
    color: #9a1b1f;
    display: inline-block;
    font-family: 'Cherry Cream Soda', cursive;
}
h4{
    font-size:150;
    color:aliceblue;
    display: inline-block;
    margin:0;
    padding:15px;
    font-family: 'Cherry Cream Soda', cursive;
}
h4 a{
  color:aliceblue;
  text-decoration: none;
}
h4 a:hover{
  background-color: #a7a79c;
  transition: background-color .5s;

}
p{
    font-size:30;
    color:#f4f4dc;
    font-family: 'Cherry Cream Soda', cursive;
}

.catchphrase {
  text-align: center;
  font-size: 25;
  font-family: 'Cherry Cream Soda', cursive;
}


.foot{
  margin:auto;
  text-align:center;
}
.foot a{
  text-decoration: none;
  color:aquamarine;
}

.navbar .icon {
  display: none;
}

* {
  box-sizing: border-box;
 }  
[class*="col-"] {
  width: 100%;
}  

@media screen and (max-width: 768px) {
  .navbar li.a.icon {
    float: right;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones and tablets: */
  [class*="col-"] {
      width: 100%;
  }
  h2{
    font-size:100;
  }
  h4{
    font-size:40;
  }
  p{
    font-size:15;
  }

  .navbar {
    overflow: hidden;
    position: relative;
  }
  
  .navbar #myLinks {
    display: block;
  }
  
  .navbar li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
} 
@media only screen and (min-width: 768px) {
} 

@media only screen and (max-width: 600px) {
  #fadeshow {
      display: none;
  }
} 
.back {
  z-index: 0;
}
